body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header{
    background: #000 center/cover url('../assets/background.jpg') no-repeat;
    width:100%;
    height:25vh;
}

h1{
    margin:0 5vw;
}

@media only screen and (min-width:700px){
    body{
        display:flex;
    }
    header{
        width:40vw;
        height:100vh;
    }
    #content{
        width:60vw;
    }
}