body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header{
    background: #000 center/cover url('../assets/background.jpg') no-repeat;
    width:100%;
    height:25vh;
}


#content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0 6vw;
}

#inputs{
    display: flex;
    margin:10px 0;
    flex-direction: column;
    gap:10px;
    margin-top: 20px;
}
.pairInputContainer{
    display:flex;
    gap:10px;
    flex-grow:1;
    flex-direction: column;
}
.inputContainer{
    width:100%;
    flex-grow:1;
}

.inputContainer input{
    margin-top:7px;
    width:100%;
}

@media only screen and (min-width:850px){
    body{
        display:flex;
    }
    header{
        width:35vw;
        height:100vh;
    }
    #content{
        width:65vw;
        padding-right:10vw;
    }
    #inputs{
        flex-wrap:wrap;
        flex-direction:row;
        gap: 2vw;
    }
    .pairInputContainer{
        width:auto;
        flex-wrap:wrap;
        gap:5vw;
        flex-direction:row;
    }
    .inputContainer{
        width:40%;
        flex-grow:1;
    }
    .inputContainer input{
        width:100%;
        margin-top: 5px;
    }
}