/* ==== General rules ==== */
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1{
    font-size:1.5em;
    font-weight: 500;

}


/* ==== Sections ====*/
header{
    background: #000 center/cover url('../assets/background.jpg') no-repeat;
    width:100%;
    height:25vh;
}

#content{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#content > h1{
    margin:1vh 6vw;
}

#formContainer{
    box-shadow:0 20px 30px -10px lightgray, 0 -8px 40px -35px rgb(118, 117, 117);
    padding:5vh 6vw;
    margin:2vh 0;
}

.sendForm{
    margin: 0 6vw;
}


/* ==== Form Layout ==== */
#inputs{
    display: flex;
    margin:10px 0;
    flex-direction: column;
    gap:10px;
    margin-top: 20px;
}
.pairInputContainer{
    display:flex;
    gap:10px;
    flex-grow:1;
    flex-direction: column;
}
.inputContainer{
    width:100%;
    flex-grow:1;
}

.inputContainer input{
    margin-top:7px;
    width:100%;
}

/* ==== Form design ==== */

/* Botón 31 de https://getcssscan.com/css-buttons-examples */
.submit {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  margin-bottom:1vh;
  max-width: none;
  min-height: 44px;
  min-width: 85%;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.submit:hover,
.submit:focus {
  opacity: .75;
}

input {
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 3px;
    border-color: lightgray;
    padding:.5em;
}


input:focus-visible{
    outline:none;
    border:1px solid lightblue;
}

/* Layout for bigger screens in width */

@media only screen and (min-width:850px){
    /* ==== General Rules ==== */
    body{
        display:flex;
    }
    h1{
        font-size:1.8em;
    }

    /* ==== Sections ==== */
    header{
        width:35vw;
        height:100vh;
    }
    #content{
        width:65vw;
    }

    /* ==== Form Layout ==== */
    #inputs{
        flex-wrap:wrap;
        flex-direction:row;
        gap: 2vw;
    }
    .pairInputContainer{
        width:auto;
        flex-wrap:wrap;
        gap:5vw;
        flex-direction:row;
    }
    .inputContainer{
        width:40%;
        flex-grow:1;
    }
    .inputContainer input{
        width:100%;
        margin-top: 5px;
    }
    .submit {
        padding: 0.25em 0.75em;
        width:fit-content;
        min-width:0;
  }
}